@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" );


body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}


*{
    margin: 0;
    padding: 0;
    border: none;
}

h1,h2{
    font-family: lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
/* logo seting*/
#logo {

    float:left;
    font-size: 280%;
    margin-left: 30px;
}

/*navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}
#menu,#logo{
    line-height: 75px;
}
  
#menu li {
    float: right;
    list-style-type: none;
    margin-right:30px;
}

#menu a { 
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}
/* kids-image */
#kids-outer{
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#kids-image{
    height: 370px;
    width: 100%;
    background-color: aquamarine;
    background-image: url('../images/children1\ \(1\).jpeg');

    /*animates zoom effects on loading page */
    animation-name: kids-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}


/*creates the level of zoom for kids image */
@keyframes kids-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);  
    }

}

#second-one  {
    height: 600px;
    width: 600x;
    position: relative;
 
 }

 #for-left{
    padding-top: 30px;
    width: 38%;
    height: 400px;
    float: left;
    margin-left: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 254, 254, 0.8);
    background-image: url(../images/luke-thornton2.jpg);
    border-radius: 5%;
    border-style: groove;
    margin: 30px;
    }

    #for-right {
        padding-top: 30px;
        width: 38%;
        height: 400px;
        float: right;
        margin-right: 100px;
        background-repeat: no-repeat;
        text-align: center;
        background-color: rgba(253, 252, 252, 0.8);
        background-image: url(../images/piano-min.jpg);
        border-radius: 5%;
        border-style: groove;
        margin: 30px;
        
    }

    hr {
        clear :both;
        margin-bottom:  250px;
    }
   
    .child-left {
        border-top: #3a3a3a;
        width: 100%;
        margin: 5px 0;
    
    }
    
    /* child div content*/

.child-left{
    
    width: 80%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom:  50px;

}

.child-left h2{
    
    width: 90%;
    float: center;
    line-height: 20px;
     font-size: 25px;
     text-align: center;
     color: rgb(250, 250, 249);
     font-weight: 500; 

}

.child-left p{
    text-align: left;
    color: rgb(247, 246, 246);
    font-weight: 500;
}

.child-right h2{
    
    width: 90%;
    float: center;
    line-height: 25px;
     font-size: 25px;
     text-align: cemter;
     color: rgb(252, 252, 247);
     font-weight: 500;
     

}

.child-right p{
    text-align: left;
    color:  rgb(252, 252, 249);
    font-weight: 500;
}

#heading-2 {
    padding: 40;
    text-align: center;
    font-size:  30px;
    margin: 10px;
    
}

#schadule{
    background-image: url(../images/perfeito.jpg);
    background-size: no repeat;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#schadule div {
    color:white;
    background-color: rgba(0, 0, 0, .8);
    width: 20%;
    height: 200px;
    float: left;
    text-align: center;
    padding:30px 0 0 10px;
    border:2px solid  white;
    box-sizing: border-box;   
    border-radius: 20px;

}

#schadule h2{

    color:white;
   }


.mapouter{
    float: left;
    padding: 30px;
    position:relative;
    height:200px;
    width: 1205px;
}

.gmap_canvas {
    float: left;
    overflow:hidden;
    background:none!important;
    height:200px;
    width: 1205px;
    border-radius:10px;
}

footer {
    height: 150px;
}

.socail_media{
    padding-top:50px;
    height:150px;
    background-color: rgb(142, 148, 148);
    text-align: center;


}

.socail_media > li {
    display: inline ;
    font-size: 20px;
    margin: 1%;
    padding: 5%
}
/*Gallery photos*/

#gallery-photos {
   clear: both;
   line-height: 0;
   column-count: 3px;
   column-gap: 0;
}

#gallery-photos > img {
    width: 45%;
    
}

/* For medium screen sizes from 1200px wide and down*/
@media screen and (max-width:1020px){
    #second-one {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #heading-2 {

        padding: 30px 0;
        margin: 0;
    
    }

    #for-left, #for-right{

        width: 100%;
        float: left;
        padding:20;
    }
    #schadule > div {
        width:100%;
        clear:both;
        height:150px;
        padding: 0;
    }


}

 /*For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #second-one {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
        
    }
    .child-left, .child-right {
        width: inherit;
    }

    .child-left h2, .child-right h2 {
        width: 100%;
        text-align: center;
    }

    .child-left p, .child-right p {
        text-align: center;
        padding: 0 20px;
    }

    #gallery-photos{
        column-count:3;
    }
}
 /* For small screem sizes 800px and down*/
@media screen  and (max-width: 800px){
      
    #gallery-photos{
        column-count: 2;
    }
}

.about-1{
    padding-top: 50px;
    height: 400px;
    width: 100%;
    background-color: #252525;
}

.about-1 > p{
    margin-left: 90px;
    text-align: justify;
    color: aliceblue;
    line-height:25px;
    
}